#profile .portrait {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: contain;
}
.author-card .portrait {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: contain;
}
