<link rel='stylesheet' href='/css/fullcalendar.css' />
<script src='/js/jquery.min.js'></script>
<script src='/js/moment.min.js'></script>
<script src='/js/fullcalendar.js'></script>

<script type='text/javascript'>

$(function() {
  $('#calendar').fullCalendar({
    googleCalendarApiKey: 'AIzaSyBuz_RmLdI8S4TV-1JJXVpiyRuLqRUinZk',
    events: [
      {
        googleCalendarId: 'concordps.org_classroom60624685@group.calendar.google.com', // 7th & 8th
        className: '78'
      }
    ]
  });
});

</script>
